= render "shared/header"
.main
  %h2.block-heading Question
  .question-show
    .question-user
      .question-user__left
        = image_tag '101_h_hoso (1).png', alt: '', height: '', width: '', class: 'user-icon'
      .question-user__right
        .question-user__right--category ruby
        .question-user__right--name masaya
        .question-user__right--explain 
          = "質問内容：#{@question.title}"
        .question-user__right--text
          = safe_join(@question.content.split("\n"), tag(:br))
        .question-user__right--edit
          =link_to edit_question_path do
            = fa_icon 'edit'
          =link_to question_path, method: :delete do
            = fa_icon 'trash'
    .answer-show
      .answer-show__title コメント
      = form_for([@question, @comment], url: question_comments_path(@question.id)) do |f|
        .answer-show__form
          = f.text_area :comment, class:'text-box'
          .button
            = f.submit "コメントする", class:'submit_btn'
      .answer-show__counter
        = "#{@comments.count}件の提案"
      .answer-show__render
        = render partial: "shared/comment", collection: @comments
.footer
  %h3.copyright Copyright © MasayaYamashita. All rights reserved.